html,
body {
  padding: 0%;
  margin: 0%;
}

/* styles/globals.css */
html[data-theme='light'] {
  background-color: #ffffff;
  color: #000000;
}

html[data-theme='dark'] {
  background-color: #121212;
  color: #ffffff;
}

.home-layout {
  min-height: 100vh; /* Ensure it takes full height */
}

.main-content {
  background-color: inherit; /* Inherit background from the body */
}