html,
body {
  padding: 0%;
  margin: 0%;
}

/* styles/globals.css */

.home-layout {
  min-height: 100vh; 
}

.main-content {
  background-color: inherit; 
}

div {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: transparent transparent; /* Firefox */
}

div::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.carousel-container {
  position: relative;
}

.arrows {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  width: 100%;
}

.arrow {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.arrow.hide {
  opacity: 0;
}

.carousel-items {
  display: flex;
  overflow-x: scroll;
  width: 100%;
}

.card {
  flex-shrink: 0;
}
